pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

/clojure-front-and-aggregator/node_modules/
/clojure-front-and-aggregator/resources/public/cljs/
/clojure-front-and-aggregator/resources/public/bootstrap*
/clojure-front-and-aggregator/target
/clojure-front-and-aggregator/checkouts
/clojure-front-and-aggregator/src/gen
/clojure-front-and-aggregator/.calva
/clojure-front-and-aggregator/.shadow-cljs
/clojure-front-and-aggregator/.cpcache
/.lsp
/.clj-kondo/

#Rust stuff
collector/target/*
mockup_log/target/*

# Scoru
/scoru-demo-quick-and-dirty/*~
/scoru-demo-quick-and-dirty/_build/
